<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">



    <title>Certifications Information</title>

  </head>
  <body>

    <div class="container-fluid" id="certificateId">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" >
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="members.html">Employees</a>
          <a class="nav-link" href="certifications.html">Certifications</a>
          <a class="nav-link" href="report1.html">Report 1</a>
          <a class="nav-link" href="report2.html">Report 2</a>
        </div>
      </div>
    </nav>



    <div class="row" >
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Certificate_ID</th>
          <th scope="col">Title</th>
          <th scope="col">Agency</th>
          <th scope="col">Expire_Date</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="certification in certifications" v-on:click="activeCert = certification; activeID.Certificate_ID = certification.Certificate_ID">
          <td>{{certification.Certificate_ID}}</td>
          <td>{{certification.Title}}</td>
          <td>{{certification.Agency}}</td>
          <td>{{certification.Expire_Date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <form method="post" >
    <input class="form-control" v-model="activeCert.Title"id="Agency">
    <input class="form-control" v-model="activeCert.Agency">
    <input class="form-control" v-model="activeCert.Expire_Date">
    <button type="submit" class='btn btn-danger' v-on:click.prevent="deleteCert()">Delete</button>
    <button type="submit" class='btn btn-warning' v-on:click.prevent="updateCert()">Update</button>
    </form>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="certMember in certMembers" v-if= "certMember.Certificate_ID == activeID.Certificate_ID">

          <td>{{certMember.First_Name}}</td>
          <td>{{certMember.Last_Name}}</td>

        </tr>
      </tbody>
    </table>
    <form method="post" v-on:submit.prevent="addCert()">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" v-model="newCert.Title"id="Title">
      </div>
      <div class="form-group">
        <label for="agency">Agency</label>
        <input class="form-control" v-model="newCert.Agency"id="Agency">

      </div>
      <div class="form-group">
        <label for="expiration">Expiration Date</label>
        <input class="form-control" v-model="newCert.Expire_Date"id="Expire_Date">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <!-- Footer referenced from https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
    <footer class="page-footer font-small special-color-dark pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.html"> Team 16</a>
      </div>
      <!-- Copyright -->

    </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/certification.app.js"></script>

  </body>

</html>
