<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">



    <title>Employee Information</title>

  </head>
  <body>

    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" >
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="members.html">Employees</a>
          <a class="nav-link" href="certifications.html">Certifications</a>
          <a class="nav-link" href="report1.html">Report 1</a>
          <a class="nav-link" href="report2.html">Report 2</a>

        </div>
      </div>
    </nav>

      <div class="container-fluid" id="membersId">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">D.O.B</th>
              <th scope="col">Gender</th>
              <th scope="col">Contact</th>
              <th scope="col">Address</th>
              <th scope="col">Email</th>
              <th scope="col">Positon</th>
              <th scope="col">Station Number</th>
              <th scope="col">Start Date</th>
              <th scope="col">Status</th>
              <th scope="col">Radio Number</th>
              <th scope="col">Certification</th>
            </tr>
          </thead>
          <tbody>
            <tr class="members" v-for="member in members" v-on:click="activemembers = member; activeID.Member_ID = member.Member_ID">
              <td>{{member.Member_ID}}</td>
              <td>{{member.First_Name}}</td>
              <td>{{member.Last_Name}}</td>
              <td>{{member.Date_of_Birth}}</td>
              <td>{{member.Gender}}</td>
              <td>{{member.Phone}}</td>
              <td>{{member.Address}}</td>
              <td>{{member.Email}}</td>
              <td>{{member.Position_Name}}</td>
              <td>{{member.Station_Number}}</td>
              <td>{{member.Start_Date}}</td>
              <td>{{member.Member_Status}}</td>
              <td>{{member.Radio_Number}}</td>
              <td>{{member.Certification}}</td>
            </tr>
          </tbody>
        </table>

        <form method="post">
          <h2>Update/Delete a member</h2>

          <div>
          <label for="frsname">First Name</label>
          <input class="form-control" v-model="activemembers.First_Name" id="frsname">
          </div>

          <div>
          <label for="lstname">Last Name</label>
          <input class="form-control" v-model="activemembers.Last_Name" id="lstname">
          </div>

          <div>
          <label for="dob">Date of Birth</label>
          <input class="form-control" v-model="activemembers.Date_of_Birth" id="dob">
          </div>

          <div>
          <label for="gendr">Gender</label>
          <input class="form-control" v-model="activemembers.Gender" id="gendr">
          </div>

          <div>
          <label for="phe">Phone</label>
          <input class="form-control" v-model="activemembers.Phone" id="phe">
          </div>

          <div>
          <label for="addr">Address</label>
          <input class="form-control" v-model="activemembers.Address" id="addr">
          </div>

          <div>
          <label for="eml">Email</label>
          <input class="form-control" v-model="activemembers.Email" id="eml">
          </div>

          <div>
          <label for="posnam">Position Name</label>
          <input class="form-control" v-model="activemembers.Position_Name" id="posnam">
          </div>

          <div>
          <label for="stanum">Station Name</label>
          <input class="form-control" v-model="activemembers.Station_Number" id="stanum">
          </div>

          <div>
          <label for="strdat">Start Date</label>
          <input class="form-control" v-model="activemembers.Start_Date" id="strdat">
          </div>

          <div>
          <label for="memsta">Member Status</label>
          <input class="form-control" v-model="activemembers.Member_Status" id="memsta">
          </div>

          <div>
          <label for="radnum">Radio Number</label>
          <input class="form-control" v-model="activemembers.Radio_Number" id="radnum">
          </div>

          <div>
          <label for="certi">Certification</label>
          <input class="form-control" v-model="activemembers.Certification" id="certi">
          </div>

          <button type="submit" class='btn btn-danger' v-on:click.prevent="deleteMember()">Delete Member</button>
          <button type="submit" class='btn btn-warning' v-on:click.prevent="updateMember()">Update Member</button>
        </form>


      <form method="post" v-on:submit.prevent="addUser()">
        <h2>Submit a new member</h2>
          <div class="form-group">
            <label for="FirstName">First Name</label>
            <input class="form-control" v-model="newmembers.First_Name">
          </div>

          <div class="form-group">
            <label for="LastName">Last Name</label>
            <input class="form-control" v-model="newmembers.Last_Name">
          </div>

          <div class="form-group">
            <label for="Gender">Gender</label>
            <input class="form-control" v-model="newmembers.Gender">
          </div>

          <div class="form-group">
            <label for="Date_of_Birth">Date of Birth</label>
            <input class="form-control" v-model="newmembers.Date_of_Birth"id="Date_of_Birth">
          </div>

          <div class="form-group">
            <label for="Email">Email</label>
            <input class="form-control" v-model="newmembers.Email"id="Email">
          </div>

          <div class="form-group">
            <label for="Address">Address</label>
            <input class="form-control" v-model="newmembers.Address"id="Address">
          </div>

          <div class="form-group">
            <label for="Position_Name">Position Name</label>
            <input class="form-control" v-model="newmembers.Position_Name"id="Position_Name">
          </div>

          <div class="form-group">
            <label for="Start_Date">Start Date</label>
            <input class="form-control" v-model="newmembers.Start_Date"id="Start_Date">
          </div>

          <div class="form-group">
            <label for="Member_Status">Member Status</label>
            <input class="form-control" v-model="newmembers.Member_Status"id="Member_Status">
          </div>

          <div class="form-group">
            <label for="Phone">Phone</label>
            <input class="form-control" v-model="newmembers.Phone"id="Phone">
          </div>

          <div class="form-group">
            <label for="Station_Number">Station Number</label>
            <input class="form-control" v-model="newmembers.Station_Number"id="Station_Number">
          </div>

          <div class="form-group">
            <label for="Radio_Number">Radio Number</label>
            <input class="form-control" v-model="newmembers.Radio_Number"id="Radio_Number">
          </div>

          <div class="form-group">
            <label for="Certification">Certification</label>
            <input class="form-control" v-model="newmembers.Certification"id="Certification">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>


    <!-- Footer referenced from https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
    <footer class="page-footer font-small special-color-dark pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.html"> Team 16</a>
      </div>
      <!-- Copyright -->

    </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/member.app.js"></script>

  </body>

</html>
