<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">



    <title>Report 2</title>

  </head>
  <body>

    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" >
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="members.html">Employees</a>
          <a class="nav-link" href="certifications.html">Certifications</a>
          <a class="nav-link" href="report1.html">Report 1</a>
          <a class="nav-link" href="report2.html">Report 2</a>

        </div>
      </div>
    </nav>

    <div>
      <h2>Radio Number</h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Radio Number</th>
                <th scope="col">Name</th>
                <th scope="col">Email Address</th>
              </tr>
            </thead>
            <tbody>
              <tr class="members" v-for="member in members">
                <td>{{member.Radio_Number}}</td>
                <td>{{member.First_Name}}</td>
                <td>{{member.Email}}</td>
              </tr>
            </tbody>
          </table>
      </div>


      <div>
        <h2>Station Number</h2>
      </div>
      <div>
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Station Number</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email Address</th>
                </tr>
              </thead>
              <tbody>
                <tr class="members" v-for="member in members">
                  <td>{{member.Station_Number}}</td>
                  <td>{{member.First_Name}}</td>
                  <td>{{member.Email}}</td>
                </tr>
              </tbody>
            </table>
        </div>

    <!-- Footer referenced from https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
    <footer class="page-footer font-small special-color-dark pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.html"> Team 16</a>
      </div>
      <!-- Copyright -->

    </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/member.app.js"></script>
  </body>

</html>
